Eudoxus/EudoxusScreens/SampleData/booksDataSource/booksDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.booksDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.booksDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="institution" type="tns:institution" />
  <xs:complexType name="institution">
    <xs:sequence>
      <xs:element name="department" type="tns:department" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="department">
    <xs:sequence>
      <xs:element name="semester" type="tns:semester" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="semester">
    <xs:sequence>
      <xs:element name="course" type="tns:course" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element name="bookCollection" type="tns:bookCollection" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="bookCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="book">
    <xs:attribute name="code" type="xs:double" />
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="author" type="xs:string" />
    <xs:attribute name="publisher" type="xs:string" />
    <xs:attribute name="pages" type="xs:double" />
    <xs:attribute name="isbn" type="xs:string" />
    <xs:attribute blend:FormatParameters="BookImages" name="cover" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>