Eudoxus/EudoxusScreens/SampleData/faqStudentDataSource/faqStudentDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.faqStudentDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.faqStudentDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="faqs" type="tns:faqs" />
  <xs:complexType name="faqs">
    <xs:sequence>
      <xs:element name="questionCollection" type="tns:questionCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questionCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="question" type="tns:question" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="question">
    <xs:sequence>
      <xs:element name="answerCollection" type="tns:answerCollection" />
    </xs:sequence>
    <xs:attribute name="text" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="answerCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="answer" type="tns:answer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answer">
    <xs:attribute name="text" type="xs:string" />
  </xs:complexType>
</xs:schema>