Eudoxus/EudoxusScreens/SampleData/semestersDataSource/semestersDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.semestersDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.semestersDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="institution" type="tns:institution" />
  <xs:complexType name="institution">
    <xs:sequence>
      <xs:element name="department" type="tns:department" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="department">
    <xs:sequence>
      <xs:element name="semesterCollection" type="tns:semesterCollection" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="semesterCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="semester" type="tns:semester" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="semester">
    <xs:sequence>
      <xs:element name="courseCollection" type="tns:courseCollection" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="courseCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="course" type="tns:course" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="course">
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
</xs:schema>